[submodule "task-1-url_shortener"]
	path = task-1-url_shortener
	url = https://github.com/Anizoomy/url_shortener.git
[submodule "task-2-event-registration-system"]
	path = task-2-event-registration-system
	url = https://github.com/Anizoomy/event_registration_system.git
